.App {
  text-align: center;
  background-color: rgb(211, 207, 202);
}
.card {
  background-color: white;
  box-shadow: 2px 2px 2px rgb(161, 139, 111);
  width: 300px;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
  height: 380px;
}
.card p{
  color: gray;
  font-size: 18px;
}
.logo {
  border-radius: 50%;
  height: 50px;
  width: auto;
}
.channel-details{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0px;
}
.thumbnail-img {
  height: 170px;
  width: 100%;
}
.card-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.video-title{
  width: 95%;
  font-size: 18px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.video-details{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.video-details p {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
}